# Ignore virtual environments and Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Ignore local config and environment files
.env

# Ignore folders you don't want to upload
Lib/
test/
__pycache__/
app/__pycache__/
app/copies/
app/vectorstore/
chroma/  # Optional if you want to exclude it
frontend/ __pycache__
geekyants/
include/


# Other ignores
# *.log
# .DS_Store
